<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GamesHub</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/gameshub</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>VisualizzaHomeControl</servlet-name>
    <servlet-class>it.gameshub.controller.VisualizzaHomeControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonAggiungiAlCarrelloControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonAggiungiAlCarrelloControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonAreaPersonaleControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonAreaPersonaleControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonCarrelloControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonCarrelloControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonCatalogoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonCatalogoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonLoginControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonLoginControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonLogoutControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonLogoutControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonMieiOrdiniControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonMieiOrdiniControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonModificaDatiAreaPersonaleControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonModificaDatiAreaPersonaleControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonRegistrazioneControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonRegistrazioneControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonVisualizzaPaginaProdottoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonVisualizzaPaginaProdottoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonHomeControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonHomeControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonChiSiamoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonChiSiamoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonContattaciControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonContattaciControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>it.gameshub.controller.LoginControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistrazioneControl</servlet-name>
    <servlet-class>it.gameshub.controller.RegistrazioneControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonEliminaDalCarrelloControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonEliminaDalCarrelloControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateCartQuantityControl</servlet-name>
    <servlet-class>it.gameshub.controller.UpdateCartQuantityControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RicercaConAjaxControl</servlet-name>
    <servlet-class>it.gameshub.controller.RicercaConAjaxControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsernameControl</servlet-name>
    <servlet-class>it.gameshub.controller.UsernameControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttivaAccountControl</servlet-name>
    <servlet-class>it.gameshub.controller.AttivaAccountControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailControl</servlet-name>
    <servlet-class>it.gameshub.controller.EmailControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonHomeGestoreCatalogoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonHomeGestoreCatalogoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonInserisciGiocoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonInserisciGiocoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonModificaGiocoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonModificaGiocoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ButtonEliminaGiocoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ButtonEliminaGiocoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CatalogControl</servlet-name>
    <servlet-class>it.gameshub.controller.CatalogControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModificaGiocoControl</servlet-name>
    <servlet-class>it.gameshub.controller.ModificaGiocoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InserimentoGiocoControl</servlet-name>
    <servlet-class>it.gameshub.controller.InserimentoGiocoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CercaGestoreCatalogoControl</servlet-name>
    <servlet-class>it.gameshub.controller.CercaGestoreCatalogoControl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCreditCardControl</servlet-name>
    <servlet-class>it.gameshub.controller.CheckCreditCardControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaHomeControl</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>