#demo1 {
	color:red;
	font-size:x-small;
}
#demo2{
	color:red;
	font-size:x-small;
}

#demo3{
	color:red;
	font-size:x-small;
}

#demo4{
	color:red;
	font-size:x-small;
}

#demo5{
	color:red;
	font-size:x-small;
}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.bg-light {
    background-color: #f8f9fa !important;
}

label {
  cursor: pointer;
  filter: grayscale(100%);
}

label:hover {
  filter: grayscale(0);
}
input[type="radio"]:checked + label {
  filter: grayscale(0);
  width:"10px";
}